{% extends 'bootstrap/base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ensolvers</title>
</head>
{%block body%}
    {% for message in get_flashed_messages() %}

        <div class="alert alert-success alert-dismissible">
            <button type="button" 
                    data-dismiss="alert" 
                    class="close">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
    <h1>Welcome {{nombre_usuario}}</h1>
    {%if carpetas%}
        <h4>Carpetas</h4>
    {%endif%}
    {%for carpeta in carpetas%}
        <li class="list-group-item">
            {{carpeta.nombre}} &nbsp;
            <a href="{{url_for('ver_tareas',id=carpeta.id_carpeta,nombre=carpeta.nombre)}}">Ver tareas</a> &nbsp;
            <a href="{{url_for('eliminar_carpeta',id=carpeta.id_carpeta)}}">Eliminar Carpeta</a>
        </li>
    {%endfor%}
    <br>
    <br>
    {{wtf.quick_form(agregar_form)}}
    {%block scripts %} 
        {{super()}}
    {% endblock %}
{%endblock%}
</html>